body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(182, 202, 196, .5);
    color: #4d4d4d;
}
.add {
    text-align: center;
}
.add__label,
.add__button {
    width: 150px;
    height: 50px;
    margin: 5px auto;
    font-size: 18px;
    color: #4d4d4d;
    cursor: pointer;
    background-color: white;
    border: #4d4d4d 1px solid;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    outline: none;
}
.add__p {
    margin: 9%;
}
.add__label:hover,
.add__button:hover {
    background-color: rgb(182, 202, 196);
}
.add__input {
    display: none;
}
a {
    color: #4d4d4d;
}
a:hover {
    color: black;
}
label {
    display: block;
}
input[type="file"]:not(.add__input) {
    display: inline-block;
    max-width: 30%;
    outline: none;
}
input:not([type="file"]):not([type="checkbox"]):focus,
textarea:focus {
    box-shadow: inset 0px 0px 2px 2px rgba(89, 89, 89, 0.52);
}
.checkbox label {
    width: 200px;
}
.section input {
    width: 95%;
    margin: 5px 0;
}
.wrap {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    background-color:rgb(250, 255, 254);
}
.wrap div {
    margin: 0 1%;
}
.section {
    max-width: 1600px;
    margin: 0 auto;
}
.name {
    text-align: center;
}
.Title {
    font-size: 25px;
}
textarea {
    width: 95%;
    resize: vertical;
}
.checkbox {
    display: inline-block;
    max-width: 5%;
}
.ref-p,
.ref-a {
    display: inline-block;
    margin: 0 5%;
}
.button {
    font-size: 18px;
    color: #4d4d4d;
    cursor: pointer;
    margin: 5% 5% 1% 1%;
    background-color: white;
    border: #4d4d4d 1px solid;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    outline: none;
}
.button:hover {
    background-color: rgb(182, 202, 196);
}
.button:focus {
    background-color: rgb(182, 202, 196);
    box-shadow: inset 0px 0px 5px 3px rgba(89, 89, 89, 0.52);
}

@media (max-width: 320px) {
   body {
       font-size: 15px;
   }
   input[type="file"]:not(.add__input) {
    max-width: 80%;
}
}